<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.joaomneto.titancompanion"
    android:versionCode="13"
    android:versionName="0.13-beta" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="pt.joaomneto.titancompanion.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.TCPreferenceActivity"
            android:label="Preferences">
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.GamebookListActivity"
            android:label="@string/title_activity_gamebook_list" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.GamebookSelectionActivity"
            android:label="@string/title_activity_gamebook_selection" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.GamebookWikiaActivity"
            android:label="@string/title_activity_gamebook_wikia" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.GamebookFullImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gamebook_full_image"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.AdventureCreationPhaseListActivity"
            android:label="@string/title_adventurecreationphase_list" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.AdventureCreationPhaseDetailActivity"
            android:label="@string/title_adventurecreationphase_detail"
            android:parentActivityName=".AdventureCreationPhaseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdventureCreationPhaseListActivity" />
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.LoadAdventureActivity"
            android:label="@string/title_activity_load_adventure" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.ErrorActivity"
            android:label="@string/title_activity_error" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.TWOFMAdventureCreation"
            android:label="@string/twofm" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.TWOFMAdventure"
            android:label="@string/twofm"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.TCOCAdventureCreation"
            android:label="@string/tcoc" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.TCOCAdventure"
            android:label="@string/tcoc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.TFODAdventureCreation"
            android:label="@string/tfod" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.TFODAdventure"
            android:label="@string/tfod"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.STAdventureCreation"
            android:label="@string/st" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.STAdventure"
            android:label="@string/st"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.COTAdventureCreation"
            android:label="@string/cot" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.COTAdventure"
            android:label="@string/cot"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.DDAdventureCreation"
            android:label="@string/dd" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.DDAdventure"
            android:label="@string/dd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.IOTLKAdventureCreation"
            android:label="@string/iotlk" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.IOTLKAdventure"
            android:label="@string/iotlk"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.SSAdventureCreation"
            android:label="@string/ss" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.SSAdventure"
            android:label="@string/ss"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.COTSWAdventureCreation"
            android:label="@string/cotsw" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.COTSWAdventure"
            android:label="@string/cotsw"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.HOHAdventureCreation"
            android:label="@string/hoh" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.HOHAdventure"
            android:label="@string/hoh"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.TODAdventureCreation"
            android:label="@string/tod" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.TODAdventure"
            android:label="@string/tod"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.SAAdventureCreation"
            android:label="@string/sa" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.SAAdventure"
            android:label="@string/sa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.FFAdventureCreation"
            android:label="@string/ff" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.FFAdventure"
            android:label="@string/ff"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.TOTAdventureCreation"
            android:label="@string/tot" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.TOTAdventure"
            android:label="@string/tot"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.TROKAdventureCreation"
            android:label="@string/trok" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.TROKAdventure"
            android:label="@string/trok"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.SOBAdventureCreation"
            android:label="@string/sob" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.SOBAdventure"
            android:label="@string/sob"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.AWFAdventureCreation"
            android:label="@string/awf" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.AWFAdventure"
            android:label="@string/awf"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.RPAdventureCreation"
            android:label="@string/rp" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.RPAdventure"
            android:label="@string/rp"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.DOTDAdventureCreation"
            android:label="@string/dotd" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.DOTDAdventure"
            android:label="@string/dotd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.SOTSAdventureCreation"
            android:label="@string/sots" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.SOTSAdventure"
            android:label="@string/sots"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.TOCAdventureCreation"
            android:label="@string/toc" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.TOCAdventure"
            android:label="@string/toc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.RCAdventureCreation"
            android:label="@string/rc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.RCAdventure"
            android:label="@string/rc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.MOMAdventureCreation"
            android:label="@string/mom"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.MOMAdventure"
            android:label="@string/mom"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.COHAdventureCreation"
            android:label="@string/coh"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.COHAdventure"
            android:label="@string/coh"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.BNCAdventureCreation"
            android:label="@string/bnc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.BNCAdventure"
            android:label="@string/bnc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.COTSAdventureCreation"
            android:label="@string/cots"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.COTSAdventure"
            android:label="@string/cots"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventurecreation.impl.AODAdventureCreation"
            android:label="@string/aod"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pt.joaomneto.titancompanion.adventure.impl.AODAdventure"
            android:label="@string/aod"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>