<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.joaomneto.ffgbutil"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pt.joaomneto.ffgbutil.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.joaomneto.ffgbutil.GamebookListActivity"
            android:label="@string/title_activity_gamebook_list" >
        </activity>
        <activity
            android:name="pt.joaomneto.ffgbutil.GamebookSelectionActivity"
            android:label="@string/title_activity_gamebook_selection" >
        </activity>
        <activity
            android:name="pt.joaomneto.ffgbutil.GamebookWikiaActivity"
            android:label="@string/title_activity_gamebook_wikia" >
        </activity>
        <activity
            android:name="pt.joaomneto.ffgbutil.GamebookFullImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gamebook_full_image"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="pt.joaomneto.ffgbutil.AdventureCreationPhaseListActivity"
            android:label="@string/title_adventurecreationphase_list" >
        </activity>
        <activity
            android:name="pt.joaomneto.ffgbutil.AdventureCreationPhaseDetailActivity"
            android:label="@string/title_adventurecreationphase_detail"
            android:parentActivityName=".AdventureCreationPhaseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdventureCreationPhaseListActivity" />
        </activity>
    </application>

</manifest>